:root{
    --yelow:#fcc404;

    --white:#ffff;

    --lightblue: #dcecf4;

    --lightblue: #000000;

    --baloot: 'Baloo Tammudu 2', sans-serif;

    --monstserrat: 'Montserrat', sans-serif;

    --noto: 'Noto Sans HK', sans-serif;

    --playfair: 'Playfair Display', sans-serif;
    }
    


