:root{
    --yelow:#fcc404;

    --white:#ffff;
    
    --lightblue: #dcecf4;

    --black: #000000;

 /* cascada */
    --baloot: 'Baloo Tammudu 2', sans-serif;
/* contenido */
    --monstserrat: 'Montserrat', sans-serif;
/* subtitulos */
    --noto: 'Noto Sans HK', sans-serif;
/* para titulo */
    --playfair: 'Playfair Display', sans-serif;
    }
    
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Comienzo */


.caja_grande{
    background-color: var(--white);
    padding-bottom: 100px;
}

.div_grande{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    flex-flow: row wrap;

}

.caja1{
    width: 300px;
    height: 306px;
    background-color: var(--yelow);
    border-radius: 10px;
    

}

.caja2{
    width: 300px;
    height: 306px;
    background-color: var(--yelow);
    border-radius: 10px;
    
    

}

.caja3{
    width: 300px;
    height: 306px;
    background-color: var(--yelow);
    border-radius: 10px;
    
}

.tarjetas_titulo{
    font-family: var(--noto);
    text-align: center;
    font-size: 15px;
    padding-top: 30px;
}

.fa-location-arrow{
    padding-top: 60px;
    padding-left: 120px;
}

.fa-glasses{
    padding-top: 60px;
    padding-left: 120px;
}

.fa-magnifying-glass{
    padding-top: 60px;
    padding-left: 120px;
}

.tarjetas_texto{
    font-family: var(--noto);
    font-size: 15px;
    
}

.alinear{
    display:inline-block;
    padding-top: 70px;
    padding-left: 65px;
}



/* Responsive for phone*/


@media screen and (max-width:410px){
    .caja_grande{
        background-color: var(--white);
        padding-bottom: 100px;
    }
    
    .div_grande{
        display: flex;
        justify-content: center;
        flex-direction:column;
        padding-top: 100px;
        
    
    }
    
    .caja1{
        width: 300px;
        height: 306px;
        background-color: var(--yelow);
        border-radius: 10px;
        margin-left: 30px;
    
    }
    
    .caja2{
        width: 300px;
        height: 306px;
        background-color: var(--yelow);
        border-radius: 10px;
        margin-top: 60px;
        margin-left: 30px;
    
    }
    
    .caja3{
        width: 300px;
        height: 306px;
        background-color: var(--yelow);
        border-radius: 10px;
        margin-top: 60px;
        margin-left: 30px;
        
    }
    
    .tarjetas_titulo{
        font-family: var(--noto);
        text-align: center;
        font-size: 15px;
        padding-top: 30px;
    }
    
    .fa-location-arrow{
        padding-top: 60px;
        padding-left: 120px;
    }
    
    .fa-glasses{
        padding-top: 60px;
        padding-left: 120px;
    }
    
    .fa-magnifying-glass{
        padding-top: 60px;
        padding-left: 120px;
    }
    
    .tarjetas_texto{
        font-family: var(--noto);
        font-size: 15px;
        
    }
    
    .alinear{
        display:inline-block;
        padding-top: 70px;
        padding-left: 65px;
    }


}

@media screen and (max-width:900px){
    .caja_grande{
        background-color: var(--white);
        padding-bottom: 100px;
    }
    
    .div_grande{
        display: flex;
        justify-content: space-around;
        padding-top: 100px;
        
    
    }
    
    .caja1{
        width: 250px;
        height: 306px;
        background-color: var(--yelow);
        border-radius: 10px;
        
    
    }
    
    .caja2{
        width: 250px;
        height: 306px;
        background-color: var(--yelow);
        border-radius: 10px;
        
        
    
    }
    
    .caja3{
        width: 250px;
        height: 306px;
        background-color: var(--yelow);
        border-radius: 10px;
        
    }
    
    .tarjetas_titulo{
        font-family: var(--noto);
        text-align: center;
        font-size: 15px;
        padding-top: 30px;
    }
    
    .fa-location-arrow{
        padding-top: 60px;
        padding-left: 100px;
    }
    
    .fa-glasses{
        padding-top: 60px;
        padding-left: 100px;
    }
    
    .fa-magnifying-glass{
        padding-top: 60px;
        padding-left: 100px;
    }
    
    .tarjetas_texto{
        font-family: var(--noto);
        font-size: 15px;
        
    }
    
    .alinear{
        display:inline-block;
        padding-top: 70px;
        padding-left: 50px;
    }
}

